@model Cumulative_Project_Najib_Osman.Models.Course
@{
    ViewBag.Title = "Show";
}
<a class="navlink" href="/Course/list">Back to Courses</a>
<div id="containershow">
    <nav>
        <a class="navlink" href="/Course/list">Back to Courses</a>
        <a class="dellink" href="/Course/DeleteConfirm/@Model.CourseId">Delete</a>
    </nav>
    <h2>@Model.CourseName</h2>
    <p>@Model.StartDate</p>
    <p>@Model.FinishDate</p>
</div>
