@{
    ViewBag.Title = "New";
}

<h2>New Teacher</h2>

<form method="POST" action="/Student/Create">
<div>
    <label for="TeacherFname">First Name:</label>
    <input type="text" id="TeacherFname" name="TeacherFname" />
</div>
<div>
    <label for="TeacherLname">Last Name:</label>
    <input type="text" id="TeacherLname" name="TeacherLname" />
</div>

<div>
    <label for="TeacherSalary">Salary</label>
    <textarea id="TeacherSalary" name="TeacherSalary"></textarea>
</div>
<div>
    <label for="SalaryHireDate">HireDate:</label>
    <textarea id="TeacherHireDate" name="TeacherHireDate"></textarea>
</div>
    <div>
        <input type="submit" value="Create Teacher" />
    </div>
</form>
