@model Cumulative_Project_Najib_Osman.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<div id="containershow">

    <nav>
        <a class="navlink" href="/Teacher/list">Back to Teachers</a>
    </nav>
<h2>@Model.TeacherFname @Model.TeacherLname</h2>
<p> @Model.TeacherSalary</p>
<p>@Model.TeacherHireDate</p>
</div>
