@model Cumulative_Project_Najib_Osman.Models.Student
@{
    ViewBag.Title = "Show";
}
<nav>
    <a class="navlink" href="/Student/list">Back to Students</a>
    <a class="dellink" href="/Student/DeleteConfirm/@Model.StudentId">Delete</a>
</nav>
<div id="containershow">
    <h2>@Model.StudentFname @Model.StudentLname</h2>
    <p>@Model.StudentEnrolDate</p>
</div>

